#center{text-align: center;}
background size: {width:1000px;height: 400px;}
.birmingham{
  font-family:italic;
  font-size:100px;
  text-align: center;
background-image: url(https://www.meetbirmingham.com/imageresizer/?image=%2fdbimgs%2fWhy%20Birmingham.jpg&action=MediaGalleryNew) }
background-size:500px
