
  .red-section {color:pink;}
  .font-size{font-size:50px;}
#navigation-bar {text-align: left;}
.nav-link{background-color: #edf6d3; padding: 10px;font font-family: "calibri"}
body {font-family: cursive}
.nav-link:hover {background-color:#ffe5ea}
